body{
    background-image: url(images/insta.png);
    background-repeat: no-repeat;
    background-size: cover;
    display: block;
}
header{
    display: grid;
    grid-template-areas: "header p";
    grid-auto-columns: 50% 50%;
    grid-template-rows: 33%;
}
header div{
    grid-area: header;
    align-items: center;
    justify-content: flex-start;
}
header a{
    font-size: 2rem;
    text-decoration: none;
}
p{
    grid-area: p;
    align-items: center;
    justify-content: flex-end;
}
